@import './styles/palette.scss';

.card {
  padding: 3em;
  text-align: center;
}

.title {
  color: $ivory;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  color: $cafe-au-lait;
  font-size: 18px;
  margin-top: .4em;
  margin-bottom: 3em;
}

.card input {
  padding: .8em;
  border-color: $ming-overlay;
  border-width: 1px;
}

.card input[type=text] {
  background-color: $ivory;
  padding-left: 1.5em;
  width: 30em;
  border-radius: 4px;
  letter-spacing: .1em;
  text-transform: uppercase;

  &:focus {
    background-color: white;
    outline: none;
  }
}

.card input[type=submit] {
  margin-top: 4em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: $ming;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;

  &:hover {
    background-color: $dark-slate-gray;
  }
}

