@import './styles/palette.scss';

.playerContainer {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  background-color: $ivory;
  margin: auto;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.nameInitial {
  color: $raisin-black;
  font-size: 3em;
  margin: auto;
}

.userName {
  color: $ivory;
  font-weight: bold;
  margin-bottom: 0;
}

.word {
  display: inline-block;
  color: $cafe-au-lait;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px $cafe-au-lait solid;
  margin-top: 2em;
  padding: .2em .4em;
}